* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Myriad Apple", sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: #000;
}

h1 {
  color: whitesmoke;
}
h2 {
  color: whitesmoke;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
a,
li {
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
  opacity: 0.9;
}

a:hover {
  opacity: 0.7;
}

a {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.pagina {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  height: 350px;
  width: 400px;
  min-width: 350px;
  padding: 3.5rem;
  border-radius: 16px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 1rem;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

@media (min-width: 600px) {
  .card:hover {
    transform: translateY(1rem);
    background: black;
    border: solid wheat;
  }
}

.card:hover {
  background: black;
  border: solid wheat;
}

.card-header {
  margin-bottom: auto;
}

.card p {
  font-size: 18px;
  margin: 0.5rem 0 1rem;
  color: white;
  /* mix-blend-mode: difference; */
  display: none;
}

.card:hover p {
  display: flex;
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: white;
  /* mix-blend-mode: difference; */
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2 a:hover {
  background: linear-gradient(90deg, #0004ff, #80e52e);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
  filter: drop-shadow(3px 3px 4px black);
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: white;
  /* mix-blend-mode: difference; */
  text-transform: uppercase;
  font-size: 0.8rem;
  border: 3px solid white;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  margin: 0 10px 0 0px;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-color: white;
}
